@import '../variables.scss';
$form-element-height: $zorroa-metric-base * 4;
$form-element-top-margin: $zorroa-metric-base / 2;
$form-element-bottom-margin: $zorroa-metric-base;
$form-element-border-size: 1px;
$form-element-border: $form-element-border-size solid $zorroa-color-gray-dark-2;
$form-element-border-radius: 3px;

.Input {
  @mixin disabledState {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed !important;
  }

  margin-top: $form-element-top-margin;
  margin-bottom: $form-element-bottom-margin;
  position: relative;
  font-family: $zorroa-font-family-body;
  &,
  * {
    box-sizing: border-box;
  }

  .dark & {
    background-color: $zorroa-color-black;
    &--color {
      background: transparent;
    }
  }

  .dark & {
    color: $zorroa-color-white;
  }

  &--vertical {
    flex-direction: column;
  }

  &__inline-reset {
    content: ' ';
    display: block;
    height: 100%;
    line-height: $form-element-height !important; // Hack to override icon font classes
    width: $zorroa-metric-base;
    color: $zorroa-color-gray-dark-4;
    position: absolute;
    top: 0;
    text-align: center;
    right: $zorroa-metric-base;
    padding: 0 $zorroa-metric-base * 1.5;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $zorroa-color-black;

      .dark & {
        color: $zorroa-color-gray-dark-3;
      }
    }
  }

  &__native {
    border-radius: $form-element-border-radius;
    height: $form-element-height;
    line-height: $zorroa-metric-base * 2;
    padding: $zorroa-metric-base;
    border: 1px solid $zorroa-color-gray-dark-3;
    font-size: 14px;
    background: none;
    max-width: 100%;
    width: 100%;

    .dark & {
      color: $zorroa-color-gray-dark-4;
    }

    &--error {
      color: $zorroa-color-pink-1;
      border-color: $zorroa-color-pink-1;
    }

    &--color {
      text-indent: $form-element-height;
      max-width: 18ex;
    }

    &--disabled {
      @include disabledState;
    }

    &--search {
      background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2215%22%20height%3D%2215%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Cpath%20d%3D%22M14.866%2013.571a.458.458%200%200%201%200%20.648l-.647.647a.458.458%200%200%201-.648%200L9.04%2010.334a.447.447%200%200%201-.104-.169%205.59%205.59%200%200%201-3.311%201.085%205.625%205.625%200%201%201%205.625-5.625%205.59%205.59%200%200%201-1.085%203.31c.062.023.12.055.17.105l4.531%204.531zM5.625%201.875a3.75%203.75%200%201%200%200%207.5%203.75%203.75%200%200%200%200-7.5z%22%20id%3D%22a%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cmask%20id%3D%22b%22%20fill%3D%22%23fff%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%2F%3E%3C%2Fmask%3E%3Cuse%20fill%3D%22%23000%22%20fill-rule%3D%22nonzero%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Cg%20mask%3D%22url(%23b)%22%20fill%3D%22%234D4948%22%3E%3Cpath%20d%3D%22M0%200h15v15H0z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      background-position: calc(100% - #{$zorroa-metric-base}) center;
      background-repeat: no-repeat;
    }
  }

  &--error {
    color: $zorroa-color-pink-1;
  }

  &--color {
    padding-right: $form-element-height + $zorroa-metric-base;
  }

  &--disabled {
    @include disabledState;
  }

  &__color-preview {
    width: $form-element-height;
    height: $form-element-height;
    border-right: 1px solid $zorroa-color-gray-dark-3;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    border-top-left-radius: $form-element-border-radius;
    border-bottom-left-radius: $form-element-border-radius;

    &--error {
      border: 2px solid $zorroa-color-pink-1;
      top: 0;
      left: 0;
      width: $form-element-height;
      height: $form-element-height;
    }
  }
}
